.bg-green {
    background-color: #49515f !important;
}

.navbar {
    padding: 0px 0px !important;
}

.navbar-nav .nav-link {
    color: #fff !important;
    font-weight: 600;
    border-right: 1px solid;
    padding: 8px 18px !important;
}

.underline {
    height: 3px;
    width: 100px;
    background-color: #e71212 !important;
    margin-bottom: 10px;
}

.bg-gray {
    background-color: #ddd;
}

.card-shadow {
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
}

.category-heading {
    padding: 10px 12px;
    border-left: 6px solid #000;
    background-color: #ddd;
    border-radius: 5px;
}

.post-heading {
    font-size: 26px;
    /* color: #000; */
}

.owl-nav button.owl-next,
.owl-nav button.owl-prev {
    color: #fff !important;
    margin-left: 10px;
    background-color: orange !important;
    border: none !important;
    outline: none;
    font-size: 20px !important;
    height: 28px;
    width: 38px !important;
}

.post-description {
    overflow-y: scroll;
    scrollbar-width: none;
}

.post-code-bg {
    width: fit-content;
    min-width: 100%;
    background-color: #212121;
    width: 100% !important;
    overflow-x: scroll !important;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.category-text {
    font-size: 16px !important;
}

.postedOn {
    font-style: italic;
    font-size: 12px;
    margin: 8 0 8 8 !important;
    font-weight: 300;
}

.post-info {
    display: flex;
}

.post-author {
    font-size: 12px;
    margin-right: 12px;
}

.question-card{
    position: relative;
}

.question-action__wrapper{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.action-btn{
    font-size: 16px;
    padding: 0 1px;
    border-radius: 20%;
    color: #fff;
}

.edit-btn{
    background-color: goldenrod;
}

.delete-btn{
    background-color: tomato;
}